<div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>
                <div id="modal_title">
                    Adicionar instrumento
                </div>
            </h3>
        </div>
        <form id="formInstrumento" enctype="multipart/form-data">
        <div class="modal-body" > <!--style="border: 1px solid;"-->
            <div id="conteudo">
                

                    {# {% csrf_token %} {{ form.as_p }} #}
                    <table>
                        <tr>
                            <td style="text-align:right">
                                <label for="nome" class='label_form'>Modelo</label>
                            </td>
                            <td>
                                <input type="text" id="id_nome" name="nome">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right">
                                <label for="tipo" class='label_form'>Tipo</label>
                            </td>
                            <td>
                                <select id="id_tipo" name="tipo">
                                    <option value="">&nbsp;</option>
                                    {% for tipo in tipos %}
                                        <option value="{{tipo.id}}">{{tipo.nome}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right">
                                <label for="fabricante" class='label_form'>Fabricante</label>
                            </td>
                            <td>
                                <select id="id_fabricante" name="fabricante">
                                    <option value="">&nbsp;</option>
                                    {% for fabricante in fabricantes %}
                                        <option value="{{fabricante.id}}">{{fabricante.nome}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right">
                                <label for="preco" class='label_form'>Preço</label>
                            </td>
                            <td>
                                <input id="id_preco" name="preco" type="text" maxlength="12">
                            </td>
                        </tr>
                        <tr id="row_input_foto">
                            <td style="text-align:right">
                                <label for="foto" class='label_form'>Foto</label>
                            </td>
                            <td>
                                <input id="id_foto" accept="image/jpg" name="foto" type="file">
                            </td>
                        </tr>
                    </table>
                    <hr/>
                    <div id="caracteristicas" style="text-align:right">

                    </div>
            </div>

        <script>
            $(document).ready(function () {
                $("#id_preco").maskMoney({ thousands: '.', decimal: ',', symbolStay: true });

                $("#id_tipo").change(function() {
                    tipo_id = $("#id_tipo").val();
                    $('#caracteristicas').empty();
                    if (tipo_id)
                    {
                        $.ajax({
                            url: '/gerar_form_caracteristica/',
                            type: "POST",
                            dataType: "json",

                            data: ({
                                tipo: tipo_id
                            }),
                            success: function (results) {
                                $('#caracteristicas').append(results)
                            }
                        });
                    }
                });
            });
        </script>

        </div>
        <div class="modal-footer" id="modal_footer_btns">
            <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
            <a href="#" class="btn btn-primary">Salvar</a>
        </div>
                </form>
